body{
  margin: 0;
}

.reserve .page-name{
   text-align: center;
   background-color: #495e57;
   color: white;
   font-size: 42px;
   padding: 32px;
}

.reserve form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  margin-top: 50px;
}

.reserve form input, select{
  width: 300px;
  height: 30px;
}

.reserve form label{
  font-weight: 700;
  color: #495e57;
  text-align: left;
}

.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found h2{
  font-size: 60px;
  color: #495e57;
  text-align: center;
}

.reserve form button{
  border: none;
  border-radius: 24px;
  background-color: #fece14;
  width: 300px;
  padding: 12px 20px;
  color: #495e57;
  font-weight: bold;
  font-size: 15px;
  transition: .5s;
  cursor: pointer;
}

.reserve form button:hover{
  background-color: #495e57;
  color: white;
}

.reservemade{
  color: #495e57;
  text-align: center;
  margin-top: 100px;
}
.reservemade h2{
  font-size: 50px;
}
.reservemade p{
  font-size: 20px;
}

@media (max-width: 800px) {

}